<div class="popup-form-container px-gutter bg-dark/95 fixed inset-0 z-50 items-center justify-center hidden">
  <form class="popup-form rounded-xl flex flex-col w-full max-w-xl gap-2 p-6 bg-white" action="https://formsubmit.co/319e627afdc2597582f30801765747f6" method="POST" netlify>
    <h2 class="text-h2">Get in touch</h3>
    <label class="flex flex-col w-full gap-1">
      <span class="font-body lg:text-xl text-base font-bold">Name</span>
      <input class="font-body full border-dark md:p-3 p-2 text-base bg-white border rounded-lg" placeholder="Name" type="text" name="name"></label>
    <label class="font-body flex flex-col w-full gap-1 text-base">
      <span class="font-body lg:text-xl text-base font-bold">Email</span>
      <input class="full border-dark md:p-3 p-2 bg-white border rounded-lg" placeholder="Email" type="email" name="email"></label>
    <label class="font-body flex flex-col w-full gap-1 text-base">
      <span class="font-body lg:text-xl text-base font-bold">Phone</span>
      <input class="full border-dark md:p-3 p-2 bg-white border rounded-lg" placeholder="Phone" type="tel" name="phone"></label>
    <label class="font-body flex flex-col w-full gap-1 text-base">
      <span class="font-body lg:text-xl text-base font-bold">Message</span>
      <textarea class="font-body min-h-24 lg:min-h-44 full border-dark md:p-3 p-2 text-base bg-white border rounded-lg" placeholder="Message" type="input" name="message"></textarea>
    </label>
    <button class="button font-body border-primary w-full mt-4 text-base border" type="submit">submit</button>
  </form>
</div>