<div class="fixed inset-0 z-50 items-center justify-center hidden popup-form-container px-gutter bg-dark/95">
  <form class="flex flex-col w-full max-w-xl gap-2 p-6 bg-white popup-form rounded-xl" action="https://formsubmit.co/angelo.raphael.personal@gmail.com" method="POST">
    <h2 class="text-h2">Get in touch</h3>
    <label class="flex flex-col w-full gap-1">
      <span class="text-base font-bold font-body lg:text-xl">Name</span>
      <input class="p-2 text-base bg-white border rounded-lg font-body full border-dark md:p-3" placeholder="Name" type="text"></label>
    <label class="flex flex-col w-full gap-1 text-base font-body">
      <span class="text-base font-bold font-body lg:text-xl">Email</span>
      <input class="p-2 bg-white border rounded-lg full border-dark md:p-3" placeholder="Email" type="email"></label>
    <label class="flex flex-col w-full gap-1 text-base font-body">
      <span class="text-base font-bold font-body lg:text-xl">Phone</span>
      <input class="p-2 bg-white border rounded-lg full border-dark md:p-3" placeholder="Phone" type="tel"></label>
    <label class="flex flex-col w-full gap-1 text-base font-body">
      <span class="text-base font-bold font-body lg:text-xl">Message</span>
      <textarea class="p-2 bg-white border rounded-lg lg:h-40 full border-dark md:p-3" placeholder="Message" type="input"></textarea>
    </label>
    <button class="mt-4 text-base border button font-body border-primary" type="submit">submit</button>
  </form>
</div>